@model SalesApp.Models.ProductViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Products</h2>
        </div>
    </div>
<form asp-controller="Order" asp-action="Index">
    <table class="table table-bordered table-striped" style="width: 100%;">
        <thead>
        <tr>
            <th>Select</th>
            <th>
                @Html.DisplayName("Product Name")
            </th>
            <th>
                @Html.DisplayName("Unit Price")
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.Products.Count; ++i)
        {
            <tr>
                <td style="width: 40px">
                    @Html.CheckBoxFor(m => m.Products[i].IsChecked)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Products[i].ProductName, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Products[i].UnitPrice)
                </td>
                <td>
                    <input asp-for="@Model.Products[i].Quantity"/>
                </td>
                @Html.HiddenFor(x => Model.Products[i].UnitPrice)
                @Html.HiddenFor(x => Model.Products[i].IsChecked)
                @Html.HiddenFor(x => Model.Products[i].ProductName)
                @Html.HiddenFor(x => Model.Products[i].Quantity)
                @Html.HiddenFor(x => x.Products[i].ProductId)
                @Html.HiddenFor(x => x.Products[i].ProductName)
                @Html.HiddenFor(x => x.Products[i].UnitPrice)
                @Html.HiddenFor(x => x.Products[i].Quantity)
                @Html.HiddenFor(x => x.Products[i].IsChecked)
                @Html.HiddenFor(x => x.Products[i].CategoryName)
            </tr>
        }
        </tbody>
    </table>

    <button class="btn btn-success" type="submit" id="checkout">Place Order</button>
</form>
</div>